<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>档案查询系统</title>
     <link rel="icon" href="../favicon.ico">
     <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>

<body>
    <div class="container">
        <div class="header">
            <span class="left">档案查询系统</span>
            <span class="right">你 好，{{user_info}} 管 理 员!</span>
            <span class="right_right"><a href="/">退出登陆</a></span>
        </div>
        <div class="leftside">
            <ul>
                <li><a href="{{ url_for('admin') }}">档案信息录入</a></li>
                <li ><a href ="{{ url_for('update_info') }}">档案信息修改</a></li>
                <li class="first"><a href ="{{ url_for('search') }}">档案信息查询</a></li>
                <li><a href="{{ url_for('user_change') }}">用户管理</a></li>
                <li><a href="{{ url_for('admin_change') }}">权限管理</a></li>
                

            </ul>
        </div>
        <div class="container-fluid">
            <h1 class="sub-header">学 生 信 息 查 询 系 统</h1>&nbsp;&nbsp;
            <hr>
            <div class="table-responsive">
                <table class="table table-striped">
                    <form action="" method="post" onsubmit="return handleSubmit()">
                        <tr>
                            <td><div class="long"></div></td>
                            
                            <td>
                                <select id="student_info" name="selected" class="long">
                                    <option value="姓名查询">姓名查询</option>
                                    <option value="用户名查询">用户名查询</option>
                                </select>
                            </td>

                            

                            <td><input class="long" name="info" type="text" placeholder="请输入待查询者信息"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="long" type="submit" value="查询" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><div class="long"></div></td>
                            <td><div class="long"></div></td>
                        </tr>               
                    </form>
                        
                        <tr>
                            <td>用户名</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>年龄</td>
                            <td>所属班级</td>
                            <td>毕业去向</td>
                        </tr>
                        {% for result in results %}
                        <tr>
                            <td>{{result[0]}}</td>
                            <td>{{result[1]}}</td>
                            <td>{{result[2]}}</td>
                            <td>{{result[3]}}</td>
                            <td>{{result[4]}}</td>
                            <td>{{result[5]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
    
    
    
    </body>
    
    </html>