<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩管理系统</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script src="static/js/echarts.min.js"></script>


</head>

<body>
    <div class="header">
        <span class="left">学 生 账 户 管理</span>
        <span class="right">你 好，{{user_info}} 管 理 员!</span>
        <span class="right_right"><a href="/">退出登陆</a></span>
    </div>
    <div class="leftside">
        <ul>
            <li><a href="{{ url_for('admin') }}">档案信息录入</a></li>
            <li><a href ="{{ url_for('update_info') }}">档案信息修改</a></li>
            <li><a href ="{{ url_for('search') }}">档案信息查询</a></li>
            <li class="first"><a href="{{ url_for('user_change') }}">用户管理</a></li>
            <li><a href="{{ url_for('admin_change') }}">权限管理</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <h1 class="sub-header">学 生 账 户 管 理 系 统</h1>&nbsp;&nbsp;
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>用户名<span>(限全字母的用户名)</span></th>
                        <th>用户密码<span>(限字母和数字组合的密码)</span></th>
                        <th>选择(增加/修改/删除)用户</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="" method="post" onsubmit="return handleSubmit()">
                            <td><input class="long" name="admin_name" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input class="long" name="admin_password"
                                    type="text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td><select name="selected_one" class="long">
                                    <option value="增加用户" selected="selected">增加用户</option>
                                    <option value="修改用户密码">修改用户密码</option>
                                    <option value="删除用户">删除用户</option>
                                </select></td>
                            <td><input class="long" type="submit" value="修改" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <!-- <td class="doit"><span>修改结果:{{insert_result}}</span></td> -->
                            
                        </form>
                        
                    </tr>

                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                        <td><span class="jieguo2">修改结果:{{insert_result}}</span></td>
                    </tr>

                    <tr>
                        <td>用户名</td>
                        <td>密码</td>
                    </tr>
                    {% for result in results %}
                    <tr>
                        <td>{{result[0]}}</td>
                        <td>{{result[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>




</body>

</html>